*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    /*overflow-x: hidden;
    overflow-y: auto;*/
    overflow: hidden;
    background-color: aquamarine;
}
.container{
    width: 90%;
    max-width: 470px;
    height: 80vh;
    border: 1px solid rgba(128, 128, 128,0.4);
    border-radius: 40px;
    margin: 100px auto 0;
    background-image: linear-gradient(135deg,aquamarine,rgb(81, 0, 128));
    text-align: center;
    padding: 40px 35px;
}
.search input{
    border: none;
    outline: none;
    border-radius: 40px;
    height: 50px;
    width: 250px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.search button{
    border-radius: 50px;
    width:50px;
    height: 50px;
    text-align: center;
}
.Weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.Weather img{
    width:350px;
    height: 220px;
}
.Weather h1,.Weather h2{
    color:white
}
.details{
    display: flex;
    gap:30px;
}
.cold{
    margin-top: 80px;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
.cold img{
    width:100px;
    height: 80px;
}
.cold p{
    color: white;
}
.windcontainer{
   margin-top: 80px;
   display: flex;
    gap: 30px;
    justify-content: center;
}
.windcontainer img{
    width:100px;
    height: 100px;
}
.windcontainer p{
    color: white;
}
@media screen and (max-width:600px){
    .container{
        width: 90%;
        height: auto;
         margin: 20px auto;
         padding: 25px 20px;
    }
    .Weather img{
        width: 250px;
        height: auto;
    }
    .details{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .cold ,.windcontainer{
        margin-top: 30px;
    }
}

